.nav.nav-tabs {
  

  >.nav-item {
    background-color: transparent;
    border: 0;

    &:hover {
      background-color: $secondary-color;
      color: $white-color !important;
    }
  }

  >.nav-item a {
    border-radius: 0;
    color: $secondary-color;
    font-size: 14px;

    &:hover {
      color: $white-color !important;
    }

    &.active {
      background-color: $white-color;
      color: $accent-color !important;
    }
    // &.active {
    //   -webkit-box-shadow: 0 5px 6px -1px $shadow-color;
    //   -moz-box-shadow: 0 5px 6px -1px $shadow-color;
    //   background-color: $white-color;
    //   box-shadow: 0 5px 6px -1px $shadow-color;
    //   color: $accent-color !important;
    // }
  }
}
