$font-content: 'Roboto';
$font-title: 'Montserrat';

// Name colors

$midnight: #001c31;
$link-water: #e4effa;
$science-blue: #0070D0;
$scorpion: #606060;
$turquoise: #10d3ce;
$prussian-blue: #002f52;
$vermilion: #ff3b00;
$caribbean-green: #10d39e;

$primary-light-color: $link-water;
$primary-color: $science-blue;
$accent-color: #005390;
$gray-color: $scorpion;
$secondary-color: $prussian-blue;
$secondary-dark-color: $midnight;
$alert-color: $vermilion;
$alert-light-color: #ff3c0068;
$succes-color: $caribbean-green;





$port-gore: #262260;
$mischka: #d3d2dF;
$cornflower-blue: #6257fa;
$athens-gray: #e8e7ee;
$melrose: #a9a3fb;
$dove-gray: #707070;
$athens-gray-light: #F5F5F8;

// Alternative palette

// PRO PLAN
$azure-radiance: #0093ff;
$malibu: #71c3ff;
$french-pass: #bfe4ff;

// INTERMEDIATE PLAN
$caribbean-green: #10d39e;
$bermuda: #82D8C0;
$granny-apple: #D1F4EA;

// BASIC PLAN
$turbo: #FFE200;
$kournikova: #FFF07B;
$baja-white: #FFFAD1;







$primary-color-light: #E4EFFA;
$light-color: $athens-gray;
$lighter-color: $athens-gray-light;
$support-color: $melrose;
$support-light-color: #E8E7F8;
$succes-color: $caribbean-green;
$shadow-color: rgba(0, 0, 0, .19);
$white-color: #fff;
$primary-color-lighter: #E6E5F9;
