footer {
  background-color: $secondary-color;

  .logo-img {
    padding-top: 30px;
  }

  .rights {
    background-color: $primary-color;
    margin-top: 30px;
    padding: 1rem 2rem;
    width: 100%;

    p {
      color: $white-color;
      font-size: .88rem;
      margin-bottom: 0;
    }
  }

  .footer-col {
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    >a {
      color: $white-color;
      font-weight: 100;
      margin-top: 10px;

      &:hover {
        text-decoration: underline !important;
      }
    }

    >p {
      color: $white-color;
      margin-top: 10px;
    }

    >.footer-subtitle {
      color: $white-color;
      font-size: 22px;
      font-weight: bold;
    }

    >.sm-container {
      display: flex;

      >a i {
        color: $white-color;
        font-size: 18px;
        margin-right: 10px;

        &:hover {
          color: $accent-color;
        }
      }
    }

  }
}

.br-1 {
  @media (max-width: 992px) {
    border: none;
  }
  border-right: 1px solid $white-color;
}