.pagination {
  justify-content: center;

  >.page-item .page-link {
    border: 0;
    border-radius: 0;

    &:hover {
      background-color: $primary-light-color;
    }

    &.-active {
      background-color: $secondary-color;
      color: $white-color !important;
    }
  }
}